@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.temperature{
	font-variant: all-small-caps;
}

abbr.era{
	font-variant: all-small-caps;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}
